<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <link rel="apple-touch-icon" sizes="76x76" href="/img/apple-icon.png"/>
    <link rel="icon" type="image/png" href="/img/favicon.png"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>


    <title>博客管理</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'/>
    <meta name="viewport" content="width=device-width"/>

    <link rel="stylesheet" type="text/css" th:href="@{/blog/css/editormd.min.css}">
    <div th:replace="~{common/common::resources}"></div>
    <style>
        .editormd a {
            display: none;
        }

    </style>
</head>
<body>
<div class="wrapper">
    <!--侧边栏-->
    <div th:replace="~{common/common::sidebar(active='administration.html')}"></div>

    <div class="main-panel">
        <nav class="navbar navbar-transparent navbar-absolute">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">博客管理</a>
                </div>
                <div th:replace="~{common/common::headright}"></div>
            </div>

            <table class="container table table-bordered">

                <tr class="row text-center">
                    <td class="col-md-1">博文标题</td>
                    <td class="col-md-3">发布日期</td>
                    <td class="col-md-5">博客内容</td>
                    <td class="col-md-1">回复数量</td>
                    <td class="col-md-1">编辑操作</td>
                    <td class="col-md-1">删除操作</td>
                </tr>

                <tr class="row text-center" th:each="blog : ${blogInfo.getRows()}">
                    <td class="col-md-1" th:text="${blog.getBlogTitle()}"></td>
                    <td class="col-md-3" th:text="${#dates.format(blog.getReleaseTime(), 'yyyy-MM-dd')}"></td>
                    <td class="col-md-5" th:text="${#strings.abbreviate(blog.getBlogContentMd(),20)}"></td>
                    <td class="col-md-1" th:text="${blog.getReplies()}"></td>
                    <td class="col-md-1"><a class="btn btn-info" th:href="@{'/blogs/edit?id='+${blog.getBlogId()}}">编辑</a></td>
                    <td class="col-md-1"><a  class="btn btn-danger del" action="blog" th:actionId="${blog.getBlogId()}">删除</a></td>
                </tr>
                <tr>
                    <td colspan="6">
                        <nav aria-label="Page navigation" >
                        <ul class="pagination" >
                            <li>
                                <a href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li th:if="${blogInfo.getCurrentPage()-2 >= 1 && blogInfo.getCurrentPage()+2 <= blogInfo.getTotalPage()}" th:class="${blogInfo.getCurrentPage()==i?'active':''}" th:each="i : ${#numbers.sequence(blogInfo.getCurrentPage()-2,blogInfo.getCurrentPage()+2)}"><a th:text="${i}" th:href="@{'/admin/manage?pageNum='+${i}}"></a></li>

                            <li th:if="${blogInfo.getCurrentPage() <= 2}" th:class="${blogInfo.getCurrentPage()==i?'active':''}" th:each="i : ${#numbers.sequence(1,blogInfo.getTotalPage())}"><a th:text="${i}" th:href="@{'/admin/manage?pageNum='+${i}}"></a></li>

                            <li th:if="${blogInfo.getCurrentPage() >= blogInfo.getTotalPage()-1}" th:class="${blogInfo.getCurrentPage()==i?'active':''}" th:each="i : ${#numbers.sequence(blogInfo.getTotalPage()-4,blogInfo.getTotalPage())}"><a th:text="${i}" th:href="@{'/admin/manage?pageNum='+${i}}"></a></li>
                            <li>
                                <a href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                        </nav>
                    </td>
                </tr>
            </table>

            <div th:replace="~{common/common::footer}"></div>
        </nav>


    </div>
</div>
    <div th:replace="~{common/common::resources1}"></div>
    <script type="text/javascript" th:src="@{/js/del.js}"></script>
</body>
</html>