<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qht.dao.UserAdminMapper">

    <sql id="Base_Column_List">
        user_id,user_account,user_nickname,user_pwd,user_profile,locked
    </sql>

   <insert id="createUser" parameterType="UserAdmin">
        insert into user_admin(user_account,user_nickname,user_pwd,user_profile,locked)
        values(#{userAccount},#{userNickName},#{userPwd},#{userProfile},#{locked})
   </insert>

    <select id="login" resultType="UserAdmin">
        select * from user_admin where user_account = #{account} and user_pwd = #{Password}
    </select>

    <select id="queryUser" resultType="UserAdmin">
        select <include refid="Base_Column_List" />
        from user_admin
        where user_account = #{account}
    </select>

    <update id="update" parameterType="UserAdmin">
        update user_admin set user_account = #{userAccount},user_nickname = #{userNickName} where user_id = #{userId}
    </update>

    <update id="savaPhoto" parameterType="String">
        update user_admin set user_profile = #{filename} where user_id = #{userId}
    </update>
</mapper>